@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
}
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    left: 50%;
    transform: translateX(-50%);
}

.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.top-500 {
    top: -500px;
}

.open-height {
    max-height: fit-content;
}

@screen md {
    .open-height {
        max-height: 800px;
    }

}

.-z-1 {
    z-index: -1;
  }

  .star {
    transform-origin: center center;
    animation: rotator 8s infinite linear;
  }

  @keyframes rotator {
      0% {
          transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }